<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHECKOUT FORM</title>
    <style>
        body {
            margin: 0px;
            padding: 0px;
            background-color: black;
            box-sizing: border-box;
            font-style: sans-serif;
            display: flex;
            width: 100vh;
            height: 100vh;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: #07252d;
        }
        
        h1 {
            position: absolute;
            font-size: 8em;
            top: 200px;
            left: 240px;
            letter-spacing: 3px;
            text-align: center;
            -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
            line-height: 0.50em;
            outline: none;
            color: #fff;
            text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4, 0 0 80px #03bcf4, 0 0 160px #03bcf4
        }
        
        h2 {
            position: absolute;
            top: 400px;
            left: 290px;
            font-size: 3.3em;
            letter-spacing: 2px;
            text-align: center;
            -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
            line-height: 0.50em;
            outline: none;
            color: #fff;
            text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4, 0 0 80px #03bcf4, 0 0 160px #03bcf4
        }
    </style>
</head>

<body onload="ready()">
    <h1>THANK YOU
    </h1>
    <h2>FOR SHOPPING WITH US...</h2>
</body>
<script>
    setTimeout(function ready() {
        alert("Your order has been placed");
        history.go(-2);
    }, 200);
</script>

</html>