<html>

<head>
    <meta name="viewport">
    <title>Online Grocery Store
    </title>
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/style1.css">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="icon" href="img/logo1.png">
</head>

<body>
    <section class="main">
        <!--LOGO-->
        <div class="logo">
            <a href="#"><img src="img/logo.png" height="50">
            </a>
        </div>
        <!--MAIN IMAGE-->
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="main-img">
                        <img class="animate__animated animate__fadeInLeft" src="img/store.png" height="610">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="main-text">
                        <h1 class="animate__animated animate__fadeInDown">
                            <font>GROCERY</font>
                        </h1>
                        <h1 class="store animate__animated animate__fadeInUp">STORE
                        </h1>
                        <a href="#fruit-id" class="animate__animated animate__flipInX main-btn">
                            <font>ORDER NOW</font>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--Shortcuts-->
        <div class="shortcut">
            <a href="#fruit-id"><img title="Fruits" src="img/apple.svg"></a>
            <a href="#snack-id"><img title="Snacks" src="img/ice.svg"></a>
            <a href="#vegetable-id"><img title="Vegetables" src="img/carrot.svg"></a>
            <a href="#beverage-id"><img title="Beverages" src="img/coffee.svg"></a>
            <a href="#cart-id"><img title="Cart" src="img/cart.svg"></a>
        </div>
    </section>
    <!--FOOD SECTION-->
    <section class="items">
        <div id="fruit-id" class="container">
            <div class="row">
                <div data-aos="fade-down" data-aos-easing="ease-in-cubic" data-aos-duration="1000" class="fruit-heading col">
                    <h1>
                        <font>FRUITS</font>
                    </h1>
                </div>
                <div class="row">
                    <div class="col">
                        <div data-aos="fade-right" data-aos-offset="500" data-aos-easing="ease-in-cubic" class="item1">
                            <div class="fruit-img1">
                                <img src="img/apple.png">
                            </div>
                            <div class="item-title">
                                <h2>Apple</h2>
                            </div>
                            <div class="item-btn">
                                <a href="#" class="btn-small">₹80/Kg</a>
                                <button class="btn btn-success">ADD TO CART</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="item2">
                            <div class="fruit-img2">
                                <img src="img/orange.png">
                            </div>
                            <div class="item-title">
                                <h2>Orange</h2>
                            </div>
                            <div class="item-btn">
                                <a href="#" class="btn-small">₹70/Kg</a>
                                <button class="btn btn-success">ADD TO CART</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div data-aos="fade-left" data-aos-offset="500" data-aos-easing="ease-in-cubic" class="item3">
                            <div class="fruit-img3">
                                <img src="img/mango.png">
                            </div>
                            <div class="item-title">
                                <h2>Mango</h2>
                            </div>
                            <div class="item-btn">
                                <a href="#" class="btn-small">₹100/Kg</a>
                                <button class="btn btn-success">ADD TO CART</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div data-aos="fade-right" data-aos-offset="500" data-aos-easing="ease-in-cubic" class="item4">
                        <div class="fruit-img4">
                            <img src="img/prom.png">
                        </div>
                        <div class="item-title">
                            <h2>Pomegranate</h2>
                        </div>
                        <div class="item-btn">
                            <a href="#" class="btn-small">₹150/Kg</a>
                            <button class="btn btn-success">ADD TO CART</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="item5">
                        <div class="fruit-img5">
                            <img src="img/pineapple.png">
                        </div>
                        <div class="item-title">
                            <h2>Pineapple</h2>
                        </div>
                        <div class="item-btn">
                            <a href="#" class="btn-small">₹70/Kg</a>
                            <button class="btn btn-success">ADD TO CART</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div data-aos="fade-left" data-aos-offset="500" data-aos-easing="ease-in-cubic" class="item6">
                        <div class="fruit-img6">
                            <img src="img/strawberry.png">
                        </div>
                        <div class="item-title">
                            <h2>Strawberry</h2>
                        </div>
                        <div class="item-btn">
                            <a href="#" class="btn-small">₹100/Kg</a>
                            <button class="btn btn-success">ADD TO CART</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--SNACKS-->
    <section class="items">
        <div id="snack-id" class="container">
            <div class="row">
                <div data-aos="fade-down" data-aos-easing="ease-in-cubic" data-aos-duration="1000" class="snack-heading col">
                    <h1>
                        <font>SNACKS</font>
                    </h1>
                </div>
                <div class="row">
                    <div class="col">
                        <div data-aos="fade-right" data-aos-offset="500" data-aos-easing="ease-in-cubic" class="item1">
                            <div class="snack-img1">
                                <img src="img/chocolate.png">
                            </div>
                            <div class="item-title">
                                <h2>Chocolate</h2>
                            </div>
                            <div class="item-btn">
                                <a href="#" class="btn-small">₹70</a>
                                <button class="btn btn-success">ADD TO CART</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="item2">
                            <div class="snack-img2">
                                <img src="img/popcorn.png">
                            </div>
                            <div class="item-title">
                                <h2>Popcorn</h2>
                            </div>
                            <div class="item-btn">
                                <a href="#" class="btn-small">₹100</a>
                                <button class="btn btn-success">ADD TO CART</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div data-aos="fade-left" data-aos-offset="500" data-aos-easing="ease-in-cubic" class="item3">
                            <div class="snack-img3">
                                <img src="img/cake.png">
                            </div>
                            <div class="item-title">
                                <h2>Cake</h2>
                            </div>
                            <div class="item-btn">
                                <a href="#" class="btn-small">₹999/Kg</a>
                                <button class="btn btn-success">ADD TO CART</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div data-aos="fade-right" data-aos-offset="500" data-aos-easing="ease-in-cubic" class="item4">
                        <div class="snack-img4">
                            <img src="img/ice.png">
                        </div>
                        <div class="item-title">
                            <h2>Ice Cream</h2>
                        </div>
                        <div class="item-btn">
                            <a href="#" class="btn-small">₹150</a>
                            <button class="btn btn-success">ADD TO CART</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="item5">
                        <div class="snack-img5">
                            <img src="img/oats.png">
                        </div>
                        <div class="item-title">
                            <h2>Oats</h2>
                        </div>
                        <div class="item-btn">
                            <a href="#" class="btn-small">₹70/Kg</a>
                            <button class="btn btn-success">ADD TO CART</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div data-aos="fade-left" data-aos-offset="500" data-aos-easing="ease-in-cubic" class="item6">
                        <div class="snack-img6">
                            <img src="img/sandwich.png">
                        </div>
                        <div class="item-title">
                            <h2>Sandwich</h2>
                        </div>
                        <div class="item-btn">
                            <a href="#" class="btn-small">₹100/Kg</a>
                            <button class="btn btn-success">ADD TO CART</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--VEGETABLES-->
    <section class="items">
        <div id="vegetable-id" class="container">
            <div class="row">
                <div data-aos="fade-down" data-aos-easing="ease-in-cubic" data-aos-duration="1000" class="veg-heading col">
                    <h1>
                        <font> VEGETABLES</font>
                    </h1>
                </div>
                <div class="row">
                    <div class="col">
                        <div data-aos="fade-right" data-aos-offset="500" data-aos-easing="ease-in-cubic" class="item1">
                            <div class="veg-img1">
                                <img src="img/tomato.png">
                            </div>
                            <div class="item-title">
                                <h2>Tomato</h2>
                            </div>
                            <div class="item-btn">
                                <a href="#" class="btn-small">₹60/Kg</a>
                                <button class="btn btn-success">ADD TO CART</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="item2">
                            <div class="veg-img2">
                                <img src="img/peas.png">
                            </div>
                            <div class="item-title">
                                <h2>Peas</h2>
                            </div>
                            <div class="item-btn">
                                <a href="#" class="btn-small">₹70/Kg</a>
                                <button class="btn btn-success">ADD TO CART</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div data-aos="fade-left" data-aos-offset="500" data-aos-easing="ease-in-cubic" class="item3">
                            <div class="veg-img3">
                                <img src="img/onion.png">
                            </div>
                            <div class="item-title">
                                <h2>Onion</h2>
                            </div>
                            <div class="item-btn">
                                <a href="#" class="btn-small">₹55/Kg</a>
                                <button class="btn btn-success">ADD TO CART</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div data-aos="fade-right" data-aos-offset="500" data-aos-easing="ease-in-cubic" class="item4">
                        <div class="veg-img4">
                            <img src="img/soya.png">
                        </div>
                        <div class="item-title">
                            <h2>Soya Chunks</h2>
                        </div>
                        <div class="item-btn">
                            <a href="#" class="btn-small">₹100</a>
                            <button class="btn btn-success">ADD TO CART</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="item5">
                        <div class="veg-img5">
                            <img src="img/cucumber.png">
                        </div>
                        <div class="item-title">
                            <h2>Cucumber</h2>
                        </div>
                        <div class="item-btn">
                            <a href="#" class="btn-small">₹50/Kg</a>
                            <button class="btn btn-success">ADD TO CART</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div data-aos="fade-left" data-aos-offset="500" data-aos-easing="ease-in-cubic" class="item6">
                        <div class="veg-img6">
                            <img src="img/carrot.png">
                        </div>
                        <div class="item-title">
                            <h2>Carrot</h2>
                        </div>
                        <div class="item-btn">
                            <a href="#" class="btn-small">₹45/Kg</a>
                            <button class="btn btn-success">ADD TO CART</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--BEVERAGES-->
    <section class="items">
        <div id="beverage-id" class="container">
            <div class="row">
                <div data-aos="fade-down" data-aos-easing="ease-in-cubic" data-aos-duration="1000" class="beverage-heading col">
                    <h1>
                        <font>BEVERAGES</font>
                    </h1>
                </div>
                <div class="row">
                    <div class="col">
                        <div data-aos="fade-right" data-aos-offset="500" data-aos-easing="ease-in-cubic" class="item1">
                            <div class="beverage-img1">
                                <img src="img/coke.png">
                            </div>
                            <div class="item-title">
                                <h2>Coca-Cola</h2>
                            </div>
                            <div class="item-btn">
                                <a href="#" class="btn-small">₹60</a>
                                <button class="btn btn-success">ADD TO CART</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="item2">
                            <div class="beverage-img2">
                                <img src="img/dew.png">
                            </div>
                            <div class="item-title">
                                <h2>Mountain Dew</h2>
                            </div>
                            <div class="item-btn">
                                <a href="#" class="btn-small">₹70</a>
                                <button class="btn btn-success">ADD TO CART</button>
                            </div>
                        </div>
                        <div class="col">
                            <div data-aos="fade-left" data-aos-offset="500" data-aos-easing="ease-in-cubic" class="item3">
                                <div class="beverage-img3">
                                    <img src="img/maaza.png">
                                </div>
                                <div class="item-title">
                                    <h2>Maaza</h2>
                                </div>
                                <div class="item-btn">
                                    <a href="#" class="btn-small">₹65</a>
                                    <button class="btn btn-success">ADD TO CART</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div data-aos="fade-right" data-aos-offset="500" data-aos-easing="ease-in-cubic" class="item4">
                            <div class="beverage-img4">
                                <img src="img/sprite.png">
                            </div>
                            <div class="item-title">
                                <h2>Sprite</h2>
                            </div>
                            <div class="item-btn">
                                <a href="#" class="btn-small">₹75</a>
                                <button class="btn btn-success">ADD TO CART</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="item5">
                            <div class="beverage-img5">
                                <img src="img/dellmonte.png">
                            </div>
                            <div class="item-title">
                                <h2>DellMonte</h2>
                            </div>
                            <div class="item-btn">
                                <a href="#" class="btn-small">₹50</a>
                                <button class="btn btn-success">ADD TO CART</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div data-aos="fade-left" data-aos-offset="500" data-aos-easing="ease-in-cubic" class="item6">
                            <div class="beverage-img6">
                                <img src="img/tropicana.png">
                            </div>
                            <div class="item-title">
                                <h2>Tropicana</h2>
                            </div>
                            <div class="item-btn">
                                <a href="#" class="btn-small">₹70</a>
                                <button class="btn btn-success">ADD TO CART</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contact">
        <div data-aos="zoom-in" data-aos-duration="2000" class="contact-left">
            <h2>Feedback</h2>
            <form action="/feedback" method="POST" class="contact-form">
                <div class="single-row">
                    <input type="text" name="fname" placeholder="First Name" class="form-in" required>
                    <input type="text" name="lname" placeholder="Last Name" class="form-in" required>
                </div>
                <div class="multiple-row">
                    <input type="e-mail" name="email" placeholder="E-mail" class="form-in" required>
                    <textarea placeholder="Your Message" name="message" class="form-in" required></textarea>
                    <button type="submit" name="submit" class="btn btn-secondary">SUBMIT</button>
                </div>
            </form>
        </div>
        <div data-aos="zoom-in" data-aos-duration="2000" class="contact-right">
            <img src="img/feedback.svg">
        </div>
    </section>
    <section class="cart-section">
        <div id="cart-id" class="container">
            <div class="row">
                <div data-aos="fade-down" data-aos-easing="ease-in-cubic" data-aos-duration="1000" class="cart-heading col">
                    <h1>CART</h1>
                </div>
            </div>
            <div class="row cart1">
                <div class="cart-row">
                    <span class="cart-item cart-header cart-column">ITEM</span>
                    <span class="cart-price cart-header cart-column">PRICE</span>
                    <span class="cart-quantity cart-header cart-column">QUANTITY</span>
                </div>
                <div class="cart-items">

                </div>
                <div class="cart-total">
                    <strong class="cart-total-title">Total</strong>
                    <span class="cart-total-price">₹0</span>
                </div>
            </div>
            <button class="btn btn-primary btn-lg">BUY</button>
        </div>
    </section>
</body>
<script src="js/bootstrap.bundle.min.js">
</script>
<script src="js/aos.js"></script>
<script src="js/store1.js"></script>
<script>
    AOS.init();
</script>

</html>